@include at-breakpoint($break-a) {

$container-style: static;

%section-rhythm { @include rhythm($padding-leader: 1, $padding-trailer: 1); }

%section-gutter {
    padding-right:$gutter-width;
    padding-left:$gutter-width;
}


// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.l-wrapper {
    // @include susy-grid-background;
    max-width: (8 * $column-width) + (7 * $gutter-width);
    // &:before { content: "Break A"; color: #000;}
}

.l-header {
    @include box-sizing(border-box);
    @include rhythm($padding-leader: 1, $padding-trailer: 5);
    @extend %section-gutter;
}

.l-section-one,
.l-section-two,
.l-footer {
    @extend %section-rhythm;
    @extend %section-gutter;
}

// --------------------------------------------------------------------------
// Module
// --------------------------------------------------------------------------

.m-main-header { @include rhythm($trailer: .5); }

.m-headline-image,
.m-headline,
.m-main-subhead,
.m-subhead { @include rhythm($trailer: .5); }

.input-submit { @extend %section-rhythm; }

.input-text { width: 100%; }

.m-section-hero { height: 60px; }

// --------------------------------------------------------------------------
// Transition
// --------------------------------------------------------------------------

.m-section-hero {
    @include single-transition(height ease-in-out .25s);
}

}