@include at-breakpoint($break-b) {

$container-style: magic;

// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.l-wrapper {
    // @include susy-grid-background;
    max-width: (24 * $column-width) + (23 * $gutter-width);
    // &:before { content: "Break B"; color: #000;}
}

.l-header {
    background-size: 80%;
    @include box-sizing(border-box);
    @include rhythm($padding-leader: 4, $padding-trailer: 10);
    @include span-columns($break-b, $break-b);
    float: none;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
}

.l-section-one,
.l-section-two,
.l-footer {
    @extend %section-rhythm;
}

.l-header,
.l-section-one,
.l-section-two {
    padding-right: 0;
    padding-left: 0;
}

.l-section-one { margin-top: -201px; }

.l-section-two {margin-top: -204px; }

.l-wrapper,
.l-header,
.l-section-one,
.l-section-two,
.m-logo-bar,
.l-footer {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

// --------------------------------------------------------------------------
// Ribbons
// --------------------------------------------------------------------------

.red-ribbon {
    background: url("images/red-ribbon.png") no-repeat;
    background-size: 130px 202px;
    height: 202px;
    width: 130px;
}

.purple-ribbon {
    background: url("images/purple-ribbon.png") no-repeat;
    background-size: 130px 204px;
    height: 204px;
    width: 130px;
}

.red-ribbon,
.purple-ribbon {
    background-position: center center;
    display: block;
    float: none;
    @include pre(3);
    position: relative;
    top: -2em;
    z-index: 1;
}


// --------------------------------------------------------------------------
// Module
// --------------------------------------------------------------------------

.m-mobile-optimized {
    @include icon("", "images/mobile-optimized.png", 68px, 157px, center, center);
    display: block;
    float: right;
    margin-bottom: -68px;
    position: relative;
    z-index: 1;
}

.m-main-header {
    background: url("images/desktop-header.png") no-repeat;
    background-position: left center;
    background-size: contain;
    display: inline-block;
    float: left;
    margin-bottom: 0;
    height: 221px;
    width: 508px;
    @include span-columns(5);
    @include pre(3);
}

.m-main-subhead,
.m-form {
    @include span-columns(3, $break-b);
    @include post(5);
}

.m-main-subhead {
    @include adjust-font-size-to(24px, 1.5);
}

.m-headline {
    @include span-columns(5, $break-b);
    @include pre(5);
    @include post(6);
}

.m-section-hero {
    background-position: left center;
    height: 120px;
}

.m-services-list {
    @include span-columns(9, $break-b);
    @include pre(5);
    padding: 0;
}

.m-services-list-item {
    @include rhythm($trailer: 1);
    @include span-columns(2, 9);
    float: left;
    padding-right: 2em;
    min-height: 250px;
    &:before {
        display: inline-block;
        margin-top: 0;
        position: relative;
        top: 0;
        left: 0;
    }
}

    .digital-production { @include icon(before, "images/www-icon-desktop.png", 175px, 186px, center, center); }
    .nurturing-tracks { @include icon(before, "images/map-desktop.gif", 175px, 196px, center, center); }
    .mobile-demand-generation {
        @include icon(before, "images/mobile-desktop.png", 175px, 144px, center, center);
        &:before {
            left: 0;
        }
    }
    .full-system-auditing { @include icon(before, "images/system-auditing-desktop.png", 175px, 117px, center, center); }
    .creative-and-dev { @include icon(before, "images/responsive-desktop.png", 175px, 197px, center, center); }
    .target-personas { @include icon(before, "images/persona-icon-desktop.png", 175px, 164px, center, center); }

.m-headline-image,
.m-section-hero {
    @include span-columns(11);
    @include pre(5);
}

.m-subhead,
.m-section-copy,
.m-client-logo {
    @include span-columns(5);
    @include pre(5);
    @include post(6);
}

.m-client-logo { text-align: left; }
    .seagate,
    .fluke,
    .ipass,
    .nimbus,
    .fortrust,
    .webtrends { height: 46px; }
    .seagate { width: 92px; }
    .fluke { width: 92px; }
    .ipass { width: 37px; }
    .nimbus { width: 64px; }
    .fortrust { width: 123px; }
    .webtrends { width: 92px; }

.m-footer-copy {
    @include span-columns(8);
    @include pre(3);
    @include post(5);
}

}