// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------

$header: #476871;

$ip-brown: #483131;
$ip-light-grey: #edf2f5;
$ip-dark-grey: #463e3f;
$ip-light-blue: #e3e8eb;
$ip-mid-blue: #95afb5;
$ip-dark-blue: #444b4d;