// --------------------------------------------------------------------------
// Imports
// --------------------------------------------------------------------------

@import "compass";
@import "susy";


// --------------------------------------------------------------------------
// Vertical Rhythm
// --------------------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 20px;
$base-rhythm-unit: 1.25em;


// --------------------------------------------------------------------------
// Horizontal Rhythm (Grid)
// --------------------------------------------------------------------------

$total-columns: 12;
$column-width: 2em;
$gutter-width: 1em;
$grid-padding: $column-width;