// --------------------------------------------------------------------------
// Imports
// --------------------------------------------------------------------------

@import "compass";
@import "susy";


// --------------------------------------------------------------------------
// IE Support
// --------------------------------------------------------------------------

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;


// --------------------------------------------------------------------------
// Vertical Rhythm
// --------------------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 20px;
$base-rhythm-unit: 1em;


// --------------------------------------------------------------------------
// Horizontal Rhythm (Grid)
// --------------------------------------------------------------------------

$container-style: magic;
$total-columns: 16;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 0;


// --------------------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------------------

// Smallest...
$break-a: 4;
$break-b: 16;
// ...Largest



// --------------------------------------------------------------------------
// Base element styles
// --------------------------------------------------------------------------

// Font variations from Typekit:
//
// Variation | font-family    |   font-weight | font-style
// -------------------------------------------
// Regular      "ff-milo-web"    400                 normal
// Italic           "ff-milo-web"    400                  italic
// Bold            "ff-milo-web"    700                 normal
// Bold Italic   "ff-milo-web"    700                 italic

html,
body {
    font-family: "ff-milo-web", tahoma, arial, sans-serif;
    font-style: normal; //Regular
    font-weight: 400; //Normal
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul { margin: 0; }

h5 { @include rhythm($leader: 0, $trailer: .25); }

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

strong {
    font-style: normal;
    font-weight: 700;
}

small {
    @include adjust-font-size-to(12px, .75);
    color: #fff;

    a:hover,
    a:focus,
    a:active,
    a:link,
    a:visited {
        color: #fff;
        text-decoration: underline;
    }
}

// --------------------------------------------------------------------------
// Global Helpers and Anonymous Selectors
// --------------------------------------------------------------------------

.center { margin: 0 auto; }

.clear { @include clearfix; }

.hide {
    opacity: 0;
    height: 0;
}

.left { float: left; }

.right { float: right; }

.warn-halo {
    @include box-shadow(#990000 0 0 10px inset, 0 0 3px 0 rgba(200, 0, 0, 0.5) inset, 0 0 11px -2px rgba(180, 0, 0, 0.25) inset, 0 0 20px rgba(255, 255, 255, 0.25)  inset !important);
}

// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.l-wrapper { margin: 0 auto; }


// --------------------------------------------------------------------------
// Module
// --------------------------------------------------------------------------

// Anonymous selectors -------------------------------------------------------

%headline {
    @include adjust-font-size-to(16px, 1);
    font-style: normal;
    font-weight: 700;
}

%subhead {
    @include adjust-font-size-to(16px, .75);
    font-style: normal;
    font-weight: 400;
}

%copy {
    @include adjust-font-size-to(14px, 1);
    @include rhythm($trailer: 1);
    font-style: normal;
    font-weight: 400;
    &:last-of-type { margin-bottom: 0; }
}

%legal {
    display: block;
    @include rhythm($trailer: 1);
    font-style: normal;
    font-weight: 400;
    &:last-of-type { margin-bottom: 0; }
}

%icon-list {
    @include inline-block-list;
    padding-right: 10px;
    text-align: center;
    &:last-of-type { padding-right: 0; }
}

%hide-text { @include hide-text; }

// $image-url: relative path to the asset
// $height, $width self explanatory
// $pseudo: before, or after. if blank then it will be on the element itself.
@mixin icon($pseudo, $image-url, $height, $width, $vert, $horiz) {
    @if $pseudo == "before" or $pseudo == "after" {
        &:#{$pseudo} {
            background: url($image-url) no-repeat;
            background-position: $vert $horiz;
            content: "";
            height: $height;
            width: $width;
        }
    } @else {
        background: url($image-url) no-repeat;
        background-position: $vert $horiz;
        background-size: contain;
        height: $height;
        width: $width;
    }
}
// --------------------------------------------------------------------------

.red-ribbon,
.purple-ribbon,
.m-mobile-optimized {
    height: 0;
    @include single-transition(all, .5s, ease-in-out, 0);
}

.m-logo-bar {
    background-size: 124px 14px;
    display: block;
    height: 2em;
    width: 100%;
}
    .m-main-header {
        @extend %hide-text;
        background: url("http://209.177.156.227/eoy-campaign/images/mobile-header.png") no-repeat;
        background-position: center center;
        background-size: 268px 45px;
        height: 45px;
        width: 100%;
    }
    .our-story {
        @extend %hide-text;
        background: url("http://209.177.156.227/eoy-campaign/images/our-story.png") no-repeat;
        background-position: left center;
        background-size: contain;
        height: 59px;
        width: 100%;
    }

.m-headline { @extend %headline; }

.m-main-subhead,
.m-subhead { @extend %subhead; }

.m-subhead { font-weight: 700; }

.m-thanks {
    @include adjust-font-size-to(24px, 2);
    font-weight: 700;
    text-align: center;
    width: 100%;
    @include single-transition(all, .25s, ease-in, 0);
}

.m-form { overflow: hidden; }
    .input-submit {
        @extend .center;
        display: block;
    }
    .input-text {
        @include box-sizing(border-box);
        border: none;
        border-radius: 5px;
        display: block;
        margin: 0 auto 1em auto;
        padding: .5em 1em;
        width: 90%;
    }
    .appendix {}

.m-section-hero {
    @include rhythm($trailer: 1);
    background: url("http://209.177.156.227/eoy-campaign/images/busts.png") no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
}

.m-section-copy {
    @extend %copy;
}

.m-services-list { @include no-bullets; }
    .m-services-list-item {
        &:before {
            display: inline-block;
            margin-top: -50px;
            position: relative;
            top: 50px;
            left: -40px;
        }
    }
    .m-services-list-item-headline { @include adjust-font-size-to(14px, 1); }
    .m-services-list-item-copy { @include adjust-font-size-to(14px, 1); }
    // Item bullet images
    .digital-production { @include icon(before, "http://209.177.156.227/eoy-campaign/images/www-icon.png", 28px, 30px, center, center); }
    .nurturing-tracks { @include icon(before, "http://209.177.156.227/eoy-campaign/images/mail-icon.png", 23px, 34px, center, center); }
    .mobile-demand-generation {
        @include icon(before, "http://209.177.156.227/eoy-campaign/images/calculator-icon.png", 29px, 22px, center, center);
        &:before {
            left: -35px;
        }
    }
    .full-system-auditing { @include icon(before, "http://209.177.156.227/eoy-campaign/images/magnifying-glass-icon.png", 30px, 31px, center, center); }
    .creative-and-dev { @include icon(before, "http://209.177.156.227/eoy-campaign/images/pen-icon.png", 31px, 32px, center, center); }
    .target-personas { @include icon(before, "http://209.177.156.227/eoy-campaign/images/persona-icon.png", 29px, 34px, center, center); }

.m-client-logo {
    @extend %icon-list;
    @include rhythm($leader: 1);
}
    .m-client-logo-icon {
        padding-right: 10px;
        &:last-of-type { padding-right: 0; }
    }
    .seagate { @include icon("", "http://209.177.156.227/eoy-campaign/images/seagate.png", 35px, 64px, center, center); }
    .fluke { @include icon("", "http://209.177.156.227/eoy-campaign/images/fluke.png", 35px, 64px, center, center); }
    .ipass { @include icon("", "http://209.177.156.227/eoy-campaign/images/ipass.png", 35px, 26px, center, center); }
    .nimbus { @include icon("", "http://209.177.156.227/eoy-campaign/images/nimbus.png", 35px, 44px, center, center); }
    .fortrust { @include icon("", "http://209.177.156.227/eoy-campaign/images/fortrust.png", 35px, 85px, center, center); }
    .webtrends { @include icon("", "http://209.177.156.227/eoy-campaign/images/webtrends.png", 35px, 64px, center, center); }

.m-footer-social {
    @extend %icon-list;
    display: block;
}
    .m-footer-social-icon {
        @include rhythm($leader: .25, $trailer: .25);
        height: 25px;
        width: 26px;
        padding-right: 10px;
        a { @include hide-text; }
        &:last-of-type { padding-right: 0; }
    }
    // Social icons
    .twitter {
        display: inline-block;
        @include icon("", "http://209.177.156.227/eoy-campaign/images/twitter.png", 25px, 26px, center, center);
    }
    .facebook {
        display: inline-block;
        @include icon("", "http://209.177.156.227/eoy-campaign/images/facebook.png", 25px, 26px, center, center);
    }
    .google {
        display: inline-block;
        @include icon("", "http://209.177.156.227/eoy-campaign/images/google.png", 25px, 26px, center, center);
    }

.m-footer-copy {
    @extend %legal;
}


