// --------------------------------------------------------------------------
// Imports
// --------------------------------------------------------------------------

@import "compass";
@import "susy";


// --------------------------------------------------------------------------
// IE Support
// --------------------------------------------------------------------------

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;


// --------------------------------------------------------------------------
// Vertical Rhythm
// --------------------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 20px;
$base-rhythm-unit: 1em;


// --------------------------------------------------------------------------
// Horizontal Rhythm (Grid)
// --------------------------------------------------------------------------

$container-style: magic;
$total-columns: 16;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 0;


// --------------------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------------------

// Smallest...
$break-a: 4;
$break-b: 16;
// ...Largest


// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------

$ip-brown: #483131;
$ip-light-grey: #a2a5a6;
$ip-dark-grey: #463e3f;
$ip-light-blue: #dfe7e9;
$ip-mid-blue: #95afb5;
$ip-dark-blue: #444b4d;