// --------------------------------------------------------------------------
// Imports
// --------------------------------------------------------------------------

@import "config";
@import "colors-1";

html,
body { background: $ip-light-blue; }

// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.l-header {
    background: url(http://209.177.156.227/eoy-campaign/images/hero-1.jpg) no-repeat $header;
    border-top: 1px solid $ip-dark-grey;
    background-position: bottom center;
    background-size: 100%;
    color: #fff;
}

.l-section-one {
    background: $ip-light-blue;
    color: $ip-brown;
}

.l-section-two {
    background: $ip-mid-blue;
    border-bottom: 1px solid $ip-light-grey;
    color: #fff;
}

.l-footer {
    background: $ip-dark-blue;
    border-top: 1px solid $ip-dark-grey;
}


// --------------------------------------------------------------------------
// Module
// --------------------------------------------------------------------------

.m-logo-bar {
    background: url("http://209.177.156.227/eoy-campaign/images/ipm-logo.png") no-repeat $header;
    background-position: center center;
}

    .input-text {
        &:focus {
            outline: transparent;
            @include box-shadow($ip-dark-blue 0 1px 5px 1px inset);
        }
    }

.m-footer-social {
    background: $ip-dark-blue;
    border-top: 1px solid $ip-dark-grey;
    border-bottom: 1px solid $ip-light-grey;
}

@import "breakpoints";