// --------------------------------------------------------------------------
// Imports
// --------------------------------------------------------------------------

@import "config";


// --------------------------------------------------------------------------
// Global Helpers and Anonymous Selectors
// --------------------------------------------------------------------------

.center { margin: 0 auto; }

.clear { @include clearfix; }

.left { float: left; }

.right { float: right; }


// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.l-content {
    @include susy-grid-background;
    @include container;
}

.l-footer {
    background-color: red;
}

.l-header {

}

// --------------------------------------------------------------------------
// Module
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// Form
// --------------------------------------------------------------------------