html,
body {
  font-family: "ff-milo-web", tahoma, arial, sans-serif;
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

strong {
  font-style: normal;
  font-weight: 700; }

small {
  font-size: 0.75em;
  line-height: 1.25em;
  color: #fff; }
  small a:hover,
  small a:focus,
  small a:active,
  small a:link,
  small a:visited {
    color: #fff;
    text-decoration: underline; }

.center, .input-submit {
  margin: 0 auto; }

.clear {
  overflow: hidden;
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.l-wrapper {
  *zoom: 1;
  max-width: 35em;
  _width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }
  .l-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.l-header {
  background: url(images/hero-1.jpg) no-repeat #96afb4;
  background-position: bottom center;
  background-size: 100%;
  border-top: 1px solid #7a7274;
  color: #fff; }

.l-section-one {
  background: #dfe7e9;
  color: #483131; }

.l-section-two {
  background: #95afb5;
  color: #fff; }

.l-footer {
  background: #444b4d; }

.m-headline {
  font-size: 1em;
  line-height: 1.25em;
  font-style: normal;
  font-weight: 700; }

.m-subhead {
  font-size: 1em;
  line-height: 0.9375em;
  font-style: normal;
  font-weight: 700; }

.m-section-copy {
  font-size: 0.875em;
  line-height: 1.42857em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.25em;
  font-style: normal;
  font-weight: 400; }

.m-logo-bar {
  background: url("images/ipm-logo.png") no-repeat #96afb4;
  background-position: center center;
  background-size: 124px 14px;
  border-bottom: 1px solid #ada5a7;
  height: 2em;
  width: 100%; }

.m-headline-image {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.mobile-demand-gen {
  background: url("images/mobile-demand-gen.png") no-repeat;
  background-position: center center;
  background-size: 268px 45px;
  height: 45px;
  width: 100%; }

.our-story {
  background: url("images/our-story.png") no-repeat;
  background-position: left center;
  background-size: contain;
  height: 59px;
  width: 100%; }

.m-form {
  overflow: hidden; }

.input-submit {
  display: block; }

.input-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto 1em auto;
  padding: .5em 1em;
  width: 90%; }
  .input-text:focus {
    outline: transparent; }

.m-section-hero {
  background: url("images/busts.png") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%; }

.m-services-list {
  list-style: none; }
  .m-services-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }

.m-services-list-item:before {
  display: inline-block;
  margin-top: -50px;
  position: relative;
  top: 50px;
  left: -40px; }

.m-services-list-item-headline {
  font-size: 0.875em;
  line-height: 1.42857em; }

.m-services-list-item-copy {
  font-size: 0.875em;
  line-height: 1.42857em; }

.digital-production:before {
  background: url("images/www-icon.png") no-repeat;
  content: "";
  height: 28px;
  width: 30px; }
.digital-production else {
  background: url("images/www-icon.png") no-repeat;
  content: "";
  height: 28px;
  width: 30px; }

.nurturing-tracks:before {
  background: url("images/mail-icon.png") no-repeat;
  content: "";
  height: 23px;
  width: 34px; }
.nurturing-tracks else {
  background: url("images/mail-icon.png") no-repeat;
  content: "";
  height: 23px;
  width: 34px; }

.mobile-demand-generation:before {
  background: url("images/calculator-icon.png") no-repeat;
  content: "";
  height: 29px;
  width: 22px; }
.mobile-demand-generation else {
  background: url("images/calculator-icon.png") no-repeat;
  content: "";
  height: 29px;
  width: 22px; }
.mobile-demand-generation:before {
  left: -35px; }

.full-system-auditing:before {
  background: url("images/magnifying-glass-icon.png") no-repeat;
  content: "";
  height: 30px;
  width: 31px; }
.full-system-auditing else {
  background: url("images/magnifying-glass-icon.png") no-repeat;
  content: "";
  height: 30px;
  width: 31px; }

.creative-and-dev:before {
  background: url("images/pen-icon.png") no-repeat;
  content: "";
  height: 31px;
  width: 32px; }
.creative-and-dev else {
  background: url("images/pen-icon.png") no-repeat;
  content: "";
  height: 31px;
  width: 32px; }

.target-personas:before {
  background: url("images/persona-icon.png") no-repeat;
  content: "";
  height: 29px;
  width: 34px; }
.target-personas else {
  background: url("images/persona-icon.png") no-repeat;
  content: "";
  height: 29px;
  width: 34px; }

.m-footer-social {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  .m-footer-social li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap; }

.m-footer-social-icon {
  height: 26px;
  width: 25px; }
  .m-footer-social-icon a {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent; }

.twitter {
  display: inline-block; }
  .twitter else {
    background: url("images/twitter.png") no-repeat;
    content: "";
    height: 26px;
    width: 25px; }

.facebook {
  display: inline-block; }
  .facebook else {
    background: url("images/facebook.png") no-repeat;
    content: "";
    height: 26px;
    width: 25px; }

.google {
  display: inline-block; }
  .google else {
    background: url("images/google.png") no-repeat;
    content: "";
    height: 26px;
    width: 25px; }

@media (min-width: 11em) {
  .l-section-one,
  .l-section-two,
  .l-footer, .input-submit {
    margin-top: 0em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin-bottom: 0em; }

  .l-header, .l-section-one,
  .l-section-two,
  .l-footer {
    padding-right: 1em;
    padding-left: 1em; }

  .l-wrapper {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(18.18182%, rgba(100, 100, 225, 0.25)), color-stop(18.18182%, rgba(0, 0, 0, 0)), color-stop(27.27273%, rgba(0, 0, 0, 0)), color-stop(27.27273%, rgba(100, 100, 225, 0.25)), color-stop(45.45455%, rgba(100, 100, 225, 0.25)), color-stop(45.45455%, rgba(0, 0, 0, 0)), color-stop(54.54545%, rgba(0, 0, 0, 0)), color-stop(54.54545%, rgba(100, 100, 225, 0.25)), color-stop(72.72727%, rgba(100, 100, 225, 0.25)), color-stop(72.72727%, rgba(0, 0, 0, 0)), color-stop(81.81818%, rgba(0, 0, 0, 0)), color-stop(81.81818%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    width: 100%;
    float: left;
    margin-right: 9.09091%; }
    .l-wrapper:before {
      content: "Break A";
      color: #000; }

  .l-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0em;
    padding-top: 1.25em;
    padding-bottom: 6.25em;
    margin-bottom: 0em; }

  .m-headline-image,
  .m-headline,
  .m-subhead {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.625em; }

  .input-text {
    width: 100%; }

  .m-section-hero {
    height: 60px; } }
