html,
body {
  font-family: "ff-milo-web", tahoma, arial, sans-serif;
  font-style: normal;
  font-weight: 400; }

html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0; }

h5 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.3125em; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

strong {
  font-style: normal;
  font-weight: 700; }

small {
  font-size: 0.75em;
  line-height: 1.25em;
  color: #fff; }
  small a:hover,
  small a:focus,
  small a:active,
  small a:link,
  small a:visited {
    color: #fff;
    text-decoration: underline; }

.center, .input-submit {
  margin: 0 auto; }

.clear {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.warn-halo {
  -webkit-box-shadow: #990000 0 0 10px inset, 0 0 3px 0 rgba(200, 0, 0, 0.5) inset, 0 0 11px -2px rgba(180, 0, 0, 0.25) inset, 0 0 20px rgba(255, 255, 255, 0.25) inset !important;
  -moz-box-shadow: #990000 0 0 10px inset, 0 0 3px 0 rgba(200, 0, 0, 0.5) inset, 0 0 11px -2px rgba(180, 0, 0, 0.25) inset, 0 0 20px rgba(255, 255, 255, 0.25) inset !important;
  box-shadow: #990000 0 0 10px inset, 0 0 3px 0 rgba(200, 0, 0, 0.5) inset, 0 0 11px -2px rgba(180, 0, 0, 0.25) inset, 0 0 20px rgba(255, 255, 255, 0.25) inset !important; }

.l-wrapper {
  margin: 0 auto; }

.m-headline {
  font-size: 1em;
  line-height: 1.25em;
  font-style: normal;
  font-weight: 700; }

.m-main-subhead,
.m-subhead {
  font-size: 1em;
  line-height: 0.9375em;
  font-style: normal;
  font-weight: 400; }

.m-section-copy {
  font-size: 0.875em;
  line-height: 1.42857em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.25em;
  font-style: normal;
  font-weight: 400; }
  .m-section-copy:last-of-type {
    margin-bottom: 0; }

.m-footer-copy {
  display: block;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.25em;
  font-style: normal;
  font-weight: 400; }
  .m-footer-copy:last-of-type {
    margin-bottom: 0; }

.m-client-logo, .m-footer-social {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  padding-right: 10px;
  text-align: center; }
  .m-client-logo li, .m-footer-social li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap; }
  .m-client-logo:last-of-type, .m-footer-social:last-of-type {
    padding-right: 0; }

.m-main-header, .our-story {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.red-ribbon,
.purple-ribbon,
.m-mobile-optimized {
  height: 0;
  -webkit-transition: height ease-in-out, 1s;
  -webkit-transition-delay: 0.25s, 0s;
  -moz-transition: height ease-in-out 0.25s, 1s;
  -o-transition: height ease-in-out 0.25s, 1s;
  transition: height ease-in-out 0.25s, 1s; }

.m-logo-bar {
  background-size: 124px 14px;
  display: block;
  height: 2em;
  width: 100%; }

.m-main-header {
  background: url("http://209.177.156.227/eoy-campaign/images/mobile-header.png") no-repeat;
  background-position: center center;
  background-size: 268px 45px;
  height: 45px;
  width: 100%; }

.our-story {
  background: url("http://209.177.156.227/eoy-campaign/images/our-story.png") no-repeat;
  background-position: left center;
  background-size: contain;
  height: 59px;
  width: 100%; }

.m-subhead {
  font-weight: 700; }

.m-form {
  overflow: hidden; }

.input-submit {
  display: block; }

.input-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto 1em auto;
  padding: .5em 1em;
  width: 90%; }

.m-section-hero {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.25em;
  background: url("http://209.177.156.227/eoy-campaign/images/busts.png") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%; }

.m-services-list {
  list-style: none; }
  .m-services-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }

.m-services-list-item:before {
  display: inline-block;
  margin-top: -50px;
  position: relative;
  top: 50px;
  left: -40px; }

.m-services-list-item-headline {
  font-size: 0.875em;
  line-height: 1.42857em; }

.m-services-list-item-copy {
  font-size: 0.875em;
  line-height: 1.42857em; }

.digital-production:before {
  background: url("http://209.177.156.227/eoy-campaign/images/www-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 28px;
  width: 30px; }

.nurturing-tracks:before {
  background: url("http://209.177.156.227/eoy-campaign/images/mail-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 23px;
  width: 34px; }

.mobile-demand-generation:before {
  background: url("http://209.177.156.227/eoy-campaign/images/calculator-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 29px;
  width: 22px; }
.mobile-demand-generation:before {
  left: -35px; }

.full-system-auditing:before {
  background: url("http://209.177.156.227/eoy-campaign/images/magnifying-glass-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 30px;
  width: 31px; }

.creative-and-dev:before {
  background: url("http://209.177.156.227/eoy-campaign/images/pen-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 31px;
  width: 32px; }

.target-personas:before {
  background: url("http://209.177.156.227/eoy-campaign/images/persona-icon.png") no-repeat;
  background-position: center center;
  content: "";
  height: 29px;
  width: 34px; }

.m-client-logo {
  margin-top: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }

.m-client-logo-icon {
  padding-right: 10px; }
  .m-client-logo-icon:last-of-type {
    padding-right: 0; }

.seagate {
  background: url("http://209.177.156.227/eoy-campaign/images/seagate.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 64px; }

.fluke {
  background: url("http://209.177.156.227/eoy-campaign/images/fluke.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 64px; }

.ipass {
  background: url("http://209.177.156.227/eoy-campaign/images/ipass.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 26px; }

.nimbus {
  background: url("http://209.177.156.227/eoy-campaign/images/nimbus.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 44px; }

.fortrust {
  background: url("http://209.177.156.227/eoy-campaign/images/fortrust.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 85px; }

.webtrends {
  background: url("http://209.177.156.227/eoy-campaign/images/webtrends.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 64px; }

.m-footer-social {
  display: block; }

.m-footer-social-icon {
  margin-top: 0.3125em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.3125em;
  height: 25px;
  width: 26px;
  padding-right: 10px; }
  .m-footer-social-icon a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left; }
  .m-footer-social-icon:last-of-type {
    padding-right: 0; }

.twitter {
  display: inline-block;
  background: url("http://209.177.156.227/eoy-campaign/images/twitter.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 26px; }

.facebook {
  display: inline-block;
  background: url("http://209.177.156.227/eoy-campaign/images/facebook.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 26px; }

.google {
  display: inline-block;
  background: url("http://209.177.156.227/eoy-campaign/images/google.png") no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25px;
  width: 26px; }

html,
body {
  background: #e3e8eb; }

.l-header {
  background: url(http://209.177.156.227/eoy-campaign/images/hero-5.jpg) no-repeat #476871;
  border-top: 1px solid #463e3f;
  background-position: bottom center;
  background-size: 100%;
  color: #fff; }

.l-section-one {
  background: #e3e8eb;
  color: #483131; }

.l-section-two {
  background: #95afb5;
  border-bottom: 1px solid #edf2f5;
  color: #fff; }

.l-footer {
  background: #444b4d;
  border-top: 1px solid #463e3f; }

.m-logo-bar {
  background: url("http://209.177.156.227/eoy-campaign/images/ipm-logo.png") no-repeat #476871;
  background-position: center center; }

.input-text:focus {
  outline: transparent;
  -webkit-box-shadow: #444b4d 0 1px 5px 1px inset;
  -moz-box-shadow: #444b4d 0 1px 5px 1px inset;
  box-shadow: #444b4d 0 1px 5px 1px inset; }

.m-footer-social {
  background: #444b4d;
  border-top: 1px solid #463e3f;
  border-bottom: 1px solid #edf2f5; }

@media (min-width: 19em) {
  .l-section-one,
  .l-section-two,
  .l-footer, .input-submit {
    margin-top: 0em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin-bottom: 0em; }

  .l-header, .l-section-one,
  .l-section-two,
  .l-footer {
    padding-right: 1em;
    padding-left: 1em; }

  .l-wrapper {
    max-width: 39em; }

  .l-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0em;
    padding-top: 1.25em;
    padding-bottom: 6.25em;
    margin-bottom: 0em; }

  .m-main-header {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.625em; }

  .m-headline-image,
  .m-headline,
  .m-main-subhead,
  .m-subhead {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.625em; }

  .input-text {
    width: 100%; }

  .m-section-hero {
    height: 60px; }

  .m-section-hero {
    -webkit-transition: height ease-in, 1s;
    -webkit-transition-delay: 0.25s, 0s;
    -moz-transition: height ease-in 0.25s, 1s;
    -o-transition: height ease-in 0.25s, 1s;
    transition: height ease-in 0.25s, 1s; } }
@media (min-width: 79em) {
  .l-wrapper {
    max-width: 119em; }

  .l-header {
    background-size: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0em;
    padding-top: 5em;
    padding-bottom: 12.5em;
    margin-bottom: 0em;
    width: 100%;
    float: left;
    margin-right: 1.26582%;
    float: none;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0; }

  .l-header,
  .l-section-one,
  .l-section-two {
    padding-right: 0;
    padding-left: 0; }

  .l-section-one {
    margin-top: -201px; }

  .l-section-two {
    margin-top: -204px; }

  .l-wrapper,
  .l-header,
  .l-section-one,
  .l-section-two,
  .m-logo-bar,
  .l-footer {
    overflow: hidden;
    position: relative;
    z-index: 0; }

  .red-ribbon {
    background: url("http://209.177.156.227/eoy-campaign/images/red-ribbon.png") no-repeat;
    background-size: 130px 202px;
    height: 202px;
    width: 130px; }

  .purple-ribbon {
    background: url("http://209.177.156.227/eoy-campaign/images/purple-ribbon.png") no-repeat;
    background-size: 130px 204px;
    height: 204px;
    width: 130px; }

  .red-ribbon,
  .purple-ribbon {
    background-position: center center;
    display: block;
    float: none;
    margin-left: 18.98734%;
    position: relative;
    top: -2em;
    z-index: 1; }

  .m-mobile-optimized {
    background: url("http://209.177.156.227/eoy-campaign/images/mobile-optimized.png") no-repeat;
    background-position: center center;
    background-size: contain;
    height: 68px;
    width: 157px;
    display: block;
    float: right;
    margin-bottom: -68px;
    position: relative;
    z-index: 1; }

  .m-main-header {
    background: url("http://209.177.156.227/eoy-campaign/images/desktop-header.png") no-repeat;
    background-position: left center;
    background-size: contain;
    display: inline-block;
    float: left;
    margin-bottom: 0;
    height: 221px;
    width: 508px;
    width: 30.37975%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 18.98734%; }

  .m-main-subhead,
  .m-form {
    width: 17.72152%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 6.32911%;
    margin-right: 25.31646%; }

  .m-main-subhead {
    font-size: 1.5em;
    line-height: 1.25em; }

  .m-headline {
    width: 30.37975%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 31.64557%;
    margin-right: 37.97468%; }

  .m-section-hero {
    background-position: left center;
    height: 120px;
    max-width: 600px; }

  .m-services-list {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 31.64557%;
    margin-right: 18.98734%;
    min-width: 800px;
    padding: 0; }

  .m-services-list-item {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.25em;
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    float: left;
    min-height: 250px;
    min-width: 200px; }
    .m-services-list-item:before {
      display: inline-block;
      margin-top: 0;
      position: relative;
      top: 0;
      left: 0; }

  .digital-production:before {
    background: url("http://209.177.156.227/eoy-campaign/images/www-icon-desktop.png") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 186px; }

  .nurturing-tracks:before {
    background: url("http://209.177.156.227/eoy-campaign/images/map-desktop.gif") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 196px; }

  .mobile-demand-generation:before {
    background: url("http://209.177.156.227/eoy-campaign/images/mobile-desktop.png") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 144px; }
  .mobile-demand-generation:before {
    left: 0; }

  .full-system-auditing:before {
    background: url("http://209.177.156.227/eoy-campaign/images/system-auditing-desktop.png") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 117px; }

  .creative-and-dev:before {
    background: url("http://209.177.156.227/eoy-campaign/images/responsive-desktop.png") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 197px; }

  .target-personas:before {
    background: url("http://209.177.156.227/eoy-campaign/images/persona-icon-desktop.png") no-repeat;
    background-position: center center;
    content: "";
    height: 175px;
    width: 164px; }

  .m-headline-image,
  .m-section-hero {
    width: 43.03797%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 31.64557%; }

  .m-subhead,
  .m-section-copy,
  .m-client-logo {
    width: 43.03797%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 31.64557%;
    margin-right: 25.31646%;
    max-width: 600px; }

  .m-client-logo {
    text-align: left;
    min-width: 575px; }

  .seagate,
  .fluke,
  .ipass,
  .nimbus,
  .fortrust,
  .webtrends {
    height: 46px; }

  .seagate {
    width: 92px; }

  .fluke {
    width: 92px; }

  .ipass {
    width: 37px; }

  .nimbus {
    width: 64px; }

  .fortrust {
    width: 123px; }

  .webtrends {
    width: 92px; }

  .m-footer-copy {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 18.98734%;
    margin-right: 18.98734%; } }
